:root {
    --main-color: #42617c;
    --btn-color: rgb(90, 61, 61);
    --body-color: #fff;
    --text-color: black;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);

}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.profile .profile-img {
    /* height: 80vw; */
    max-height: 30rem;
    margin-top: 12rem;
    margin-left: 28rem;
    transform: translateX(-50%);
    position: relative;
    top: -60px;
    border-radius: 6rem;

}
@media (max-width: 576px) {
    .profile .profile-img {
        margin-bottom: -3rem;
        margin-top: 3rem; /* Reduce space below the image */
    }
    .text-center.text-xxl-start {
        margin-top: 1rem; /* Reduce space above the text */
    }
}


@media (max-width: 576px) {
    .navbar-brand {
        font-size: 16px; /* Smaller brand name */
    }
    .navbar-nav .nav-link {
        font-size: 14px; /* Smaller nav links */
    }
    .fs-2 {
        font-size: 1.25rem; /* Smaller font size for subheadings */
    }
    .display-3 {
        font-size: 2rem; /* Adjust main heading size */
    }
}

.py-1 {
    padding-bottom: 0rem !important;
}

.bg-secondary,
.btn-light:hover {
    background-color: var(--main-color) !important;

}
.mt-5 {
    margin-top: 6.5rem !important;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
    color: white;
    font-size: 22px;
}

.fs-6:hover {
    background-color: var(--main-color) !important;
}

.btn-light {
    color: #6c757d;
    border-color: #6c757d;
    background-color: white;
}

.btn-light:hover {
    color: white;
}

.bg-white {
    background-color: var(--main-color) !important;
}

.bg-primary {
    background-color: #42617c !important;
}

.feature {
    height: 3rem;
    width: 4rem;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    font-size: 2rem;
}

.img-fluid {
    max-width: 21rem;
    height: 20rem;
}

.img-fluid:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    box-shadow: 0 0.26rem 0.26rem 0.25rem var(--main-color);
}

.mb-5 {
    margin-bottom: 5rem !important;
}

.text-s {

    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 20px;

}

.text-muted {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.button {
    margin-top: 4rem;
}
