:root {
    --main-color: #42617c;
    --btn-color: rgb(90, 61, 61);
    --body-color: #fff;
    --text-color: black;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);

}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.profile .profile-img {
    height: 80vw;
    max-height: 35rem;
    margin-top: 12rem;
    margin-left: 20rem;
    transform: translateX(-50%);
    position: relative;
    top: -60px;
    border-radius: 15rem;

}

.py-1 {
    padding-bottom: 0rem !important;
}

.bg-secondary,
.btn-light:hover {
    background-color: var(--main-color) !important;

}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
    color: white;
    font-size: 22px;
}

.fs-6:hover {
    background-color: var(--main-color) !important;
}

.btn-light {
    color: #6c757d;
    border-color: #6c757d;
    background-color: white;
}

.btn-light:hover {
    color: white;
}

.bg-white {
    background-color: var(--main-color) !important;
}

.bg-primary {
    background-color: #42617c !important;
}

.feature {
    height: 3rem;
    width: 4rem;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    font-size: 2rem;
}

.img-fluid {
    max-width: 21rem;
    height: 20rem;
}

.img-fluid:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    box-shadow: 0 0 0 0.25rem #42617c;
}

.mb-5 {
    margin-bottom: 5rem !important;
}
.text-s{

    margin-top: 0;
    margin-bottom: 4rem;
    font-size: 20px;

}